{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <h1 class="text-center">Share a secret</h1>

                <div class="well">

                    {{ form_start(form, {'attr': {'id': 'share-secret', 'novalidate': 'novalidate'}}) }}

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="secret_secret" class="sr-only">Secret</label>
                                {{ form_widget(form.secret, {'attr': {'class': 'form-control input-lg text-center', 'placeholder': 'Susssssh!', 'autocomplete': 'off'}}) }}
                                {% if form_errors(form.secret) %}
                                    <div class="error">{{ form_errors(form.secret) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="input-group input-group-lg">
                                <label for="secret_views" class="sr-only">Views</label>
                                {{ form_widget(form.views, {'attr': {'class': 'form-control'}}) }}
                                <span class="input-group-addon">views</span>
                            </div>
                            {% if form_errors(form.views) %}
                                <div class="error">{{ form_errors(form.views) }}</div>
                            {% endif %}
                            <br/>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="input-group input-group-lg">
                                <label for="secret_days" class="sr-only">Days</label>
                                {{ form_widget(form.expires, {'attr': {'class': 'form-control'}}) }}
                                <span class="input-group-addon">days</span>
                            </div>
                            {% if form_errors(form.expires) %}
                                <div class="error">{{ form_errors(form.expires) }}</div>
                            {% endif %}
                            <br/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group-lg">
                                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Get Secret Link"/>
                            </div>
                        </div>
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}